<app-header></app-header>
<main class="content">
  <div class="container">
    <div class="content__wrapper">
      <div class="content__pages">
        <button
          class="content__pages-item"
          *ngFor="let page of pages"
          [routerLink]="page.route"
          [disabled]="!page.route"
          [ngClass]="page.identifier"
        >
          <h2 class="content__pages-item__title">{{ page.title }}</h2>
          <div class="content__pages-item__icon">
            <img src="/assets/{{ page.image }}" alt="" />
          </div>
        </button>
      </div>
    </div>
  </div>
</main>
