@import "../../variables";

@mixin pages-icon($background) {
  background: $background;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    mask-image: url("/assets/clip-path.svg");
    position: absolute;
    mask-size: contain;
  }
}

@mixin title-border($color) {
  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: $color;
    margin: 0 auto;
  }
}

.content {
  height: 100%;
  background: $neutral-dark;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .container {
    height: 100%;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#414141, 0.2);
    mask-image: url("/assets/clip-path.svg");
    position: absolute;
    mask-size: contain;
  }

  &__pages {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
    position: relative;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      background: none;
      border: none;
      gap: 32px;

      &:not(:disabled) {
        cursor: pointer;
      }

      &__title {
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        color: $neutral-white;
      }

      &.material &__icon {
        @include pages-icon(#c2d8ff);
      }

      &.material &__title {
        @include title-border(#4173cd);
      }

      &.quiz &__icon {
        @include pages-icon(#91dea2);
      }

      &.quiz &__title {
        @include title-border(#1dc763);
      }

      &.drawing &__icon {
        @include pages-icon(#f4aeff);
      }

      &.drawing &__title {
        @include title-border(#f6b5ff);
      }

      &.youtube &__icon {
        @include pages-icon(#ffbfbf);
      }

      &.youtube &__title {
        @include title-border(#ff0000);
      }

      &__icon {
        width: 373px;
        height: 373px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 31px solid #464141;
        overflow: hidden;
        position: relative;

        img {
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}
