$light-blue: #eff2f9;
$neutral-darkest: #04183e;
$neutral-light: #e4ebfb;
$neutral-white: #ffffff;
$brand-blue: #0095ff;
$brand-green: #1dc763;

$background-color: $light-blue;

$headings-color: $neutral-darkest;

$label-active-color: $brand-blue;

$input-border-color: $neutral-light;

$button-primary-bg: $brand-green;

$input-padding-y: 16px;
$input-padding-x: 16px;

$title-size-sm: 1.25rem;

$font-weight-medium: 500;
$font-weight-bold: 700;

$paragraph-size-md: 0.875rem;
$paragraph-size-sm: 0.75rem;

$transition-duration: 0.3s;
