$neutral-white: #ffffff;
$neutral-light: #e4ebfb;
$neutral-cloudy: #7183a6;
$neutral-dark: #252323;

$brand-blue: #0095ff;
$brand-blue-light: #66bfff;
$brand-green: #1dc763;
$brand-yellow: #ffc13d;

$blue-light: #eff2f9;
$blue-dark: #354564;
$blue-darkest: #04183e;

$background-color: $blue-light;

$headings-color: $blue-darkest;

$label-active-color: $brand-blue;

$input-border-color: $neutral-light;

$button-primary-bg: $brand-green;

$input-padding-y: 16px;
$input-padding-x: 16px;

$title-size-sm: 1.25rem;
$title-size-md: 1.5rem;

$font-weight-medium: 500;
$font-weight-bold: 700;

$paragraph-size-md: 0.875rem;
$paragraph-size-sm: 0.75rem;
$paragraph-size-lg: 1.125rem;

$transition-duration: 0.3s;
