@import "/src/app/variables";

.content {
  background: $blue-light;
  height: 100%;
  padding-top: calc(76px + 32px);

  &__box {
    background: $neutral-white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 32px;
    padding: 56px 42px 56px 72px;
  }
}
