@import "/src/app/variables";

.content {
  background: $blue-light;
  min-height: 100%;
  padding-top: calc(76px + 32px);
  padding-bottom: 60px;

  &__box {
    background: $neutral-white;
    border-radius: 8px;
    padding: 56px 42px 56px 72px;

    &-title {
      font-size: $title-size-md;
      font-weight: $font-weight-bold;
      line-height: 28px;
      color: $blue-dark;
      margin-bottom: 8px;
    }

    &-subtitle {
      font-size: $paragraph-size-lg;
      color: $neutral-cloudy;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      row-gap: 28px;
      column-gap: 32px;
      margin-top: 28px;
    }
  }
}
